definitions:
  Geo.Api.App.Geo.Models.GeoCoderWebApi.Details:
    description: Содержит в себе массив объектов, каждый из которых описывает часть
      адреса (то что разделено запятыми).
    properties:
      fullName:
        description: "Полное название адресного элемента. \r\nТ.е. вместе с указанием\
          \ типа объекта, например, площадь Ленина, деревня Ново)."
        type: string
      geoType:
        description: Тип адресного элемента (страна, локация, улица, дом).
        enum:
        - Country
        - Location
        - Street
        - Road
        - District
        - Underground
        - House
        - EntryIntoRoad
        - NewObject
        type: string
        x-Country: Страна
        x-District: Район
        x-EntryIntoRoad: Въезд на шоссе
        x-House: Дом
        x-Location: Локация
        x-NewObject: ЖК - новостройки
        x-Road: Шоссе
        x-Street: Улица
        x-Underground: Метро
      hasMetro:
        description: Есть метро.
        type: boolean
      hasRoad:
        description: Есть шоссе.
        type: boolean
      id:
        description: Идентификатор в нашей базе.
        format: int32
        type: integer
      isLocality:
        description: Если населенный пункт.
        type: boolean
      name:
        description: Короткое название адресного элемента.
        type: string
      streetRequired:
        description: Если улица обязательна.
        type: boolean
    type: object
  Geo.Api.App.Geo.Models.GeoCoderWebApi.GeoCodedRequest:
    properties:
      address:
        description: Адрес
        type: string
      kind:
        description: Вид топонима (обязательный параметр).
        type: string
      lat:
        description: Широта.
        format: double
        type: number
      lng:
        description: Долгота.
        format: double
        type: number
    type: object
  Geo.Api.App.Geo.Models.GeoCoderWebApi.GeoCodedResponse:
    properties:
      billingRegionId:
        description: Идентификатор региона тарифной сетки.
        format: int32
        type: integer
      countryId:
        description: ID страны
        format: int32
        type: integer
      details:
        description: Содержит в себе массив объектов, каждый из которых описывает
          часть адреса (то что разделено запятыми).
        items:
          $ref: '#/definitions/Geo.Api.App.Geo.Models.GeoCoderWebApi.Details'
        type: array
      geo:
        $ref: '#/definitions/Geo.GeoApi.Models.Geo'
        description: Информация по Гео (широта, долгота).
      isParsed:
        description: Если удалось распарсить адрес.
        type: boolean
      locationPath:
        description: "Идентификаторы всех локаций, от родительского до самого точного\r\
          \nИспользуется в биллинге"
        items:
          format: int32
          type: integer
        type: array
      postalCode:
        description: Почтовый индекс
        type: string
      text:
        description: Результат яндекса после геокодинга.
        type: string
    type: object
  Geo.Api.App.Underground.Models.UndergroundModelV2:
    description: Модель метро
    properties:
      cianId:
        description: Идентификатор станции метро Циан
        format: int32
        type: integer
      constructionDate:
        description: Дата постройки
        format: date-time
        type: string
      entrances:
        description: Входы в метро
        items:
          $ref: '#/definitions/Geo.Api.App.Underground.Models.UndergroundModelV2.UndergroundEntrance'
        type: array
      genitiveCase:
        description: "Название станции метро в родительном падеже (Нет Кого? Чего?)\r\
          \nЕсли есть"
        type: string
      id:
        description: Идентификатор станции метро
        format: int32
        type: integer
      isPutIntoOperation:
        description: Введён ли в экслпуатацию
        type: boolean
      lat:
        description: Широта
        format: double
        type: number
      lines:
        description: Линии метро, где фигурирует станция
        items:
          $ref: '#/definitions/Geo.Api.App.Underground.Models.UndergroundModelV2.LineModel'
        type: array
      lng:
        description: Долгота
        format: double
        type: number
      locationId:
        description: Id региона
        format: int32
        type: integer
      name:
        description: Название станции метро
        type: string
      nativeName:
        description: "Название станции метро (оригинальное имя)\r\nЕсли есть"
        type: string
      prepositionalCase:
        description: "Названии станции метро в предложном падеже (Думать О ком? О\
          \ чём?)\r\nЕсли есть"
        type: string
      timeByCar:
        description: Id региона
        format: int32
        type: integer
      timeByWalk:
        description: Id региона
        format: int32
        type: integer
      translitName:
        description: Название станции метро в транслите
        type: string
    type: object
  Geo.Api.App.Underground.Models.UndergroundModelV2.LineModel:
    description: Модель для линии метро
    properties:
      lineColor:
        description: RGB цвет линии метро
        type: string
      lineId:
        description: Идентификатор линии метро
        format: int32
        type: integer
      lineName:
        description: Название линии метро
        type: string
    type: object
  Geo.Api.App.Underground.Models.UndergroundModelV2.UndergroundEntrance:
    description: Вход в метро
    properties:
      id:
        description: Id входа в метро
        format: int32
        type: integer
      lat:
        description: Широта
        format: double
        type: number
      lng:
        description: Долгота
        format: double
        type: number
      name:
        description: Название входа в метро
        type: string
    type: object
  Geo.GeoApi.Models.Geo:
    description: Координата
    properties:
      lat:
        description: Широта.
        format: double
        type: number
      lng:
        description: Долгота.
        format: double
        type: number
    type: object
host: master.monolith-cian-geoapi.dev3.cian.ru
info:
  title: monolith-cian-geoapi
  version: v1
paths:
  /v2/geocode/:
    post:
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      operationId: GeoCoderWebApi_GeoCodedAsync
      parameters:
      - in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/Geo.Api.App.Geo.Models.GeoCoderWebApi.GeoCodedRequest'
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Geo.Api.App.Geo.Models.GeoCoderWebApi.GeoCodedResponse'
      tags:
      - GeoCoderWebApi
  /v2/undergrounds/get-all/:
    get:
      consumes: []
      operationId: Underground_GetAllV2Async
      parameters:
      - format: int32
        in: query
        name: locationId
        required: false
        type: integer
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Geo.Api.App.Underground.Models.UndergroundModelV2'
            type: array
      summary: "Возвращает список метро для города\r\nДля каждой станции метро возвращаем\
        \ список линий метро, в которых фигурирует станция"
      tags:
      - Underground
schemes:
- http
swagger: '2.0'
x-cian-mq:
  exchanges: {}
  spec-version: '1.0'
