definitions:
  WebApi.Models.UserRegistration.ByPhoneRegistration.RegisterUserByPhoneRequest:
    description: Запрос регистрации пользователя по номеру телефона
    properties:
      phone: {description: Номер телефона, type: string}
      smsTemplate: {description: "Шаблон текста SMS сообщения с учетными данными.\r\
          \nПример. \"Ваш ID {0}, ваш пароль {1}\"\r\n0 - id пользвоателяя\r\n1 -\
          \ пароль пользователя", type: string}
    required: [phone]
    type: object
  WebApi.Models.UserRegistration.ByPhoneRegistration.RegisterUserByPhoneResponse:
    description: Данные о результате регистрации пользователя по номеру телефона
    properties:
      hasManyAccounts: {description: С переданным номером телефона существует несколько
          учетных записей, type: boolean}
      isRegistered: {description: Зарегистрировали ли пользователя, type: boolean}
      userData: {$ref: '#/definitions/WebApi.Models.UserRegistration.ByPhoneRegistration.RegisteredUserDto'}
    required: [hasManyAccounts, isRegistered]
    type: object
  WebApi.Models.UserRegistration.ByPhoneRegistration.RegisteredUserDto:
    description: Данные зергистрированного пользователя
    properties:
      email: {description: Email/логин пользователя, type: string}
      id: {description: Идентификатор пользователя, format: int64, type: integer}
    required: [email, id]
    type: object
host: master.users.dev3.cian.ru
info: {title: users, version: v1}
paths:
  /v1/register-user-by-phone/:
    post:
      consumes: [application/json-patch+json, application/json, text/json, application/*+json]
      parameters:
      - in: body
        name: body
        schema: {$ref: '#/definitions/WebApi.Models.UserRegistration.ByPhoneRegistration.RegisterUserByPhoneRequest'}
      produces: [application/msgpack, text/plain, application/json, text/json]
      responses:
        '200':
          description: Success
          schema: {$ref: '#/definitions/WebApi.Models.UserRegistration.ByPhoneRegistration.RegisterUserByPhoneResponse'}
      summary: Внутренний endpoint для регистрации пользователя по номеру телефона
        без подтверждения
      tags: [UserRegistration]
schemes: [http]
swagger: '2.0'
x-cian-mq:
  exchanges: {}
  spec-version: '1.0'
