<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link href="http://service.cian.ru/styles-bundle/common?v=0aKLpWyVhVKyGjOnlm51ljVIiDW6CKtVEmPslyQ9Btg1" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div id="wrap">
      <div class="container">
        <div class="page-header">
          <h3>{% block page_header %}{% endblock %}</h3>
        </div>
        <main>
          {% block content %}
          {% endblock %}
        </main>
      </div>
    </div>
  </body>
</html>
