<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<div class="main_style">
    <div class="header-block">
        <div class="client-info">
                <div class="client-info-offer-title">
                    <a rel="noopener noreferrer" target="_blank" href="{{ parsed_object_model.url }}">{{ parsed_object_model.title }}</a>
                </div>
                <div class="client-info-offer-phones">
                    {% for phone in client.client_phones %}
                        <span>{{ phone }}</span>
                    {% endfor %}
                </div>
                <div class="client-info-offer-address">
                    <span>{{ parsed_object_model.address }}</span>
                </div>
                <div class="client-info-offer-name">
                    {% if parsed_object_model.contact %}
                        {{ parsed_object_model.contact }}
                    {% endif %}
                </div>
        </div>
    </div>
    
    <div class="main-block">
    <form class="ajax-form">
        <div class="offerForm">

            <div class="offerDealTypeTitle"><span class="">Тип сделки</span></div>
            <div class="offerDealTypeSelect">
                <select class="select-control" id="getDealType">
                    <option value="" disabled>Не выбрано</option>
                    <option value="rent" {% if parsed_object_model.is_rent %}selected{% endif %}>Аренда</option>
                    <option value="sale" {% if parsed_object_model.is_sale %}selected{% endif %}>Продажа</option>
                </select>
            </div>

            {# parsed_object_model.is_rent #}
            <div class="offerTermTypeTitle" style="display: {% if parsed_object_model.is_rent %}block{% else %}none{% endif %};">
                <span class="">Срок аренды</span>
            </div>
            <div class="offerTermTypeSelect" style="display: {% if parsed_object_model.is_rent %}block{% else %}none{% endif %};">
                <select class="select-control" id="getTermType">
                    <option value="" selected disabled>Не выбрано</option>
                    <option value="long" {% if parsed_object_model.is_long_term_rent and parsed_object_model.is_rent %}selected{% endif %}>
                        Долгосрочная
                    </option>
                    <option value="daily" {% if parsed_object_model.is_daily_term_rent and parsed_object_model.is_rent %}selected{% endif %}>
                        Посуточная
                    </option>
                </select>
            </div>

            <div class="offerTypeTitle"><span class="">Тип недвижимости</span></div>
            <div class="offerTypeSelect">
                <select class="select-control" id="getOfferType">
                    <option value="" selected disabled>Не выбрано</option>
                    <option value="flat" {% if parsed_object_model.is_allow_realty_type %} selected {% endif %}>Жилая</option>
                    <option value="commercial"{% if parsed_object_model.is_commercial_type %} selected {% endif %}>Коммерческая</option>
                    <option value="suburban" {% if parsed_object_model.is_suburban_sale %} selected {% endif %}>Загородная</option>
                    <option value="newobject" disabled>Новостройки</option>
                </select>
            </div>

            <div class="offerCategoryTypeTitle"><span class="">Объект</span></div>
            <div class="offerCategoryTypeSelect">
                <select class="select-control" id="getCategoryType">
                    <option value="" selected disabled>
                        Не выбрано
                    </option>
                    {# parsed_object_model.is_allow_realty_type #}
                    <option value="flat"
                            class="is_allow_realty_type_option"
                            style="display: {% if parsed_object_model.is_allow_realty_type %} block {% else %} none {% endif %};"
                            {% if parsed_object_model.is_flat %} selected {% endif %}
                    >
                        Квартира
                    </option>
                    <option value="room"
                            class="is_allow_realty_type_option"
                            style="display: {% if parsed_object_model.is_allow_realty_type %} block {% else %} none {% endif %};"
                            {% if parsed_object_model.is_room %} selected {% endif %}
                    >
                        Комната
                    </option>
                    <option value="share"
                            class="is_allow_realty_type_option"
                            style="display: {% if parsed_object_model.is_allow_realty_type %} block {% else %} none {% endif %};"
                            {% if parsed_object_model.is_share %} selected {% endif %}
                    >
                        Доля в квартире
                    </option>
                    <option value="bed"
                            class="is_allow_realty_type_option"
                            style="display: {% if parsed_object_model.is_allow_realty_type %} block {% else %} none {% endif %};"
                            {% if parsed_object_model.is_bed %}  selected {% endif %}
                    >
                        Койко-место (только аренда)
                    </option>

                    {# parsed_object_model.is_suburban_sale #}
                    <option value="house"
                            id="house"
                            class="is_suburban_sale_option"
                            style="display: {% if parsed_object_model.is_suburban_sale %} block {% else %} none {% endif %};" 
                            {% if parsed_object_model.is_house %} selected {% endif %}
                    >
                        Дом/дача
                    </option>
                    <option value="townhouse"
                            class="is_suburban_sale_option"
                            style="display: {% if parsed_object_model.is_suburban_sale %} block {% else %} none {% endif %};" 
                            {% if parsed_object_model.is_townhouse %} selected {% endif %}
                    >
                        Таунхаус
                    </option>
                    <option value="cottage"
                            class="is_suburban_sale_option"
                            style="display: {% if parsed_object_model.is_suburban_sale %} block {% else %} none {% endif %};" 
                            {% if parsed_object_model.is_cottage %} selected {% endif %}
                    >
                        Коттедж
                    </option>
                    <option value="land"
                            class="is_suburban_sale_option"
                            style="display: {% if parsed_object_model.is_suburban_sale %} block {% else %} none {% endif %};" 
                            {% if parsed_object_model.is_land %} selected {% endif %}
                    >
                        Участок
                    </option>

                    <!--Commercial property-->
                    <option value="office"
                                class="is_commercial_option"
                                style="display: {% if parsed_object_model.is_commercial_type %} block {% else %} none {% endif %};"
                                {% if parsed_object_model.is_office %} selected {% endif %}
                    >
                            Офис
                    </option>

                     <option value="freeAppointmentObject"
                                class="is_commercial_option"
                                style="display: {% if parsed_object_model.is_commercial_type %} block {% else %} none {% endif %};"
                                {% if parsed_object_model.is_free_appointment_object %} selected {% endif %}
                    >
                            ПСН
                    </option>

                     <option value="shoppingArea"
                                class="is_commercial_option"
                                style="display: {% if parsed_object_model.is_commercial_type %} block {% else %} none {% endif %};"
                                {% if parsed_object_model.is_shopping_area %} selected {% endif %}
                    >
                            Торговая площадь
                    </option>

                     <option value="warehouse"
                                class="is_commercial_option"
                                style="display: {% if parsed_object_model.is_commercial_type %} block {% else %} none {% endif %};"
                                {% if parsed_object_model.is_warehouse %} selected {% endif %}
                    >
                            Склад
                    </option>

                     <option value="industry"
                                class="is_commercial_option"
                                style="display: {% if parsed_object_model.is_commercial_type %} block {% else %} none {% endif %};"
                                {% if parsed_object_model.is_industry %} selected {% endif %}
                    >
                            Производство
                    </option>

                     <option value="building"
                                class="is_commercial_option"
                                style="display: {% if parsed_object_model.is_commercial_type %} block {% else %} none {% endif %};"
                                {% if parsed_object_model.is_building %} selected {% endif %}
                    >
                            Здание
                    </option>

                     <option value="business"
                                class="is_commercial_option"
                                style="display: {% if parsed_object_model.is_commercial_type %} block {% else %} none {% endif %};"
                                {% if parsed_object_model.is_business %} selected {% endif %}
                    >
                            Готовый бизнес
                    </option>

                     <option value="commercialLand"
                                class="is_commercial_option"
                                style="display: {% if parsed_object_model.is_commercial_type %} block {% else %} none {% endif %};"
                                {% if parsed_object_model.is_commercial_land %} selected {% endif %}
                     >
                            Коммерческая земля
                    </option>
                </select>
            </div>

            <div>
                <input
                    style="display: none;"
                    name="updateOfferCategory"
                    class="updateOfferCategory"
                    id="updateOfferCategory"
                    type="button"
                    value="Обновить категорию"
                />
            </div>

            <div class='table-block-header'>
                <span class="text-header">Адрес</span>
            </div>
            <div class="offerAddressTitle">
                <span class="">Адрес</span>
            </div>
            <div class="offerAddressInput">
                    <input class="input-control" placeholder="Адрес объекта"
                           value="{{ parsed_object_model.address }}"
                           type="text" id="getAddress">
            </div>

            <div class='table-block-header'>
                <span class="text-header">Об объекте</span>
            </div>

            <!--Commercial-->
            {% if parsed_object_model.is_shopping_area %}
                <div class="offerBuildingTypeTitle">
                    <span class="">Тип помещения</span>
                </div>
                <div class="offerCategoryTypeSelect">
                    <select class="select-control" id="getBuildingType">
                        <option value="" selected disabled>Не выбрано</option>
                        <option value="shoppingMall">помещение в торговом комплексе</option>
                        <option value="streetRetail">street retail</option>
                    </select>
                </div>
            {% endif %}



                <div class="offerReadyBusinessTypeTitle" style="display: {% if parsed_object_model.is_business and is_ready_business_enabled %} block {% else %} none {% endif %}">
                    <span class="">Тип готового бизнеса</span>
                </div>
                <div class="offerReadyBusinessTypeSelect" style="display: {% if parsed_object_model.is_business and is_ready_business_enabled %} block {% else %} none {% endif %}">
                    <select class="select-control" id="getReadyBusinessType">
                        <option value="" selected disabled>Не выбрано</option>
                        <option value="rentalBusiness">арендный бизнес</option>
                        <option value="other">другое</option>
                    </select>
                </div>

                <div class="offerMonthlyIncomeTitle" style="display: {% if parsed_object_model.is_business and is_ready_business_enabled %} block {% else %} none {% endif %}">
                    <span class="">Месячная прибыль</span>
                </div>
                <div class="offerMonthlyIncomeInput" style="display: {% if parsed_object_model.is_business and is_ready_business_enabled %} block {% else %} none {% endif %}">
                    <input type="number" required
                           placeholder="Месячная прибыль"
                           class="input-control" id="getMonthlyIncome">
                </div>

            {% if parsed_object_model.is_building %}
                <div class="offerAppointmentBuildingTypeTitle">
                    <span class="">Возможное назначение(Тип здания)</span>
                </div>

                <div class="offerAppointmentSelect">
                    <select class="select-control" id="getAppointmentBuildingType">
                        <option value="" selected disabled>Не выбрано</option>
                    </select>
                </div>
            {% endif %}

            {% if parsed_object_model.is_free_appointment_object or parsed_object_model.is_business %}
                <div class="offerAppointmentTitle">
                    <span class="">Назначение</span>
                </div>

                <div class="offerAppointmentSelect">
                    <select class="select-control" id="getSpecialtyType">
                        <option value="" selected disabled>Не выбрано</option>
                        {% if not appointments %}
                            <option value="office" >Офис</option>
                            <option value="shoppingComplex" >Торговое помещение</option>
                            <option value="warehouse" >Склад</option>
                            <option value="publicCatering" >Общепит</option>
                            <option value="carService" >Автосервис</option>
                        {% endif %}
                        {% for appointment in appointments %}
                            <option value="{{ appointment.eng_name }}">{{ appointment.rus_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}



            {% if parsed_object_model.is_commercial_land %}
                <div class="offerCommercialLangTitle">
                    <span class="">Категория земли</span>
                </div>
                <div class="offerCommercialLangSelect">
                    <select class="select-control" id="getCommercialLandType">
                        <option value="" selected disabled>Не выбрано</option>
                        <option value="settlements">поселений</option>
                        <option value="forAgriculturalPurposes">сельскохозяйственного назначения</option>
                        <option value="industryTransportCommunications">промышленности, энергетики, связи и иного не сельхоз. назначения</option>
                    </select>
                </div>
            {% endif %}

            {# parsed_object_model.is_allow_realty_type #}
            <div class="offerRealtyTypeTitle" style="display: {% if parsed_object_model.is_allow_realty_type %} block {% else %}none{% endif %};">
                <span class="">Тип жилья</span>
            </div>
            <div class="offerCategoryTypeSelect" style="display: {% if parsed_object_model.is_allow_realty_type %} block {% else %}none{% endif %};">
                <select class="select-control" id="getRealtyType">
                    <option value="" selected disabled>Не выбрано</option>
                    <option value="flat">Квартира</option>
                    <option value="apartments">Апартаменты</option>
                </select>
            </div>

            <div class="offerTotalAreaTitle">
                <span class="">Общая площадь</span>
            </div>
            <div class="offerTotalAreaInput">
                <input type="number" required value="{{ parsed_object_model.total_area }}"
                       placeholder="Площать объекта в м2"
                       class="input-control" id="getTotalArea">
            </div>

            {# parsed_object_model.is_allow_rooms #}
            <div class="offerRoomsCountTitle" style="display: {% if parsed_object_model.is_allow_rooms %}block{% else %}none{% endif %};">
                <span class="">Количество комнат</span>
            </div>
            <div class="offerRoomsCountSelect" style="display: {% if parsed_object_model.is_allow_rooms %}block{% else %}none{% endif %};">
                <select class="select-control" id="getRoomsCount">
                    <option value="" selected disabled>Не выбрано</option>
                    <option value="room1">1</option>
                    <option value="room2">2</option>
                    <option value="room3">3</option>
                    <option value="room4">4</option>
                    <option value="room5">5</option>
                    <option value="room6_plus">6+</option>
                    <option value="open_plan">свободная планировка</option>
                    <option value="studio">студия</option>
                </select>
            </div>

            <div class="offerFloorNumberTitle">
                <span class="">Этаж (необязательно)</span>
            </div>
            <div>
                <input type="number" class="input-control" value="{{ parsed_object_model.floor_number | int }}"
                       placeholder="Этаж объекта" id="getFloorNumber">
            </div>
            <div></div>
            <div>
                <input type="number" class="input-control" value="{{ parsed_object_model.floors_count | int }}"
                       placeholder="Общее количество этажей в доме"
                       id="getFloorCount">
            </div>
            
            {# parsed_object_model.is_suburban_sale #}
            <div class="offerLandAreaTitle" style="display: {% if parsed_object_model.is_suburban_sale or parsed_object_model.is_commercial_land %}block{% else %}none{% endif %};">
                <span class="">Площадь участка</span>
            </div>
            <div class="offerLandAreaInput" style="display: {% if parsed_object_model.is_suburban_sale or parsed_object_model.is_commercial_land %}block{% else %}none{% endif %};">
                <input type="number" required value="{{ parsed_object_model.land_area }}"
                    placeholder="Площать участка в сотках"
                    class="input-control" id="getLandArea">
                <select class="select-control" id="getAreaUnit">
                    <option value="" selected>Не выбрано</option>
                    <option value="sotka" {% if parsed_object_model.land_area_unit == 'sotka' %} selected {% endif %}>Сотка</option>
                    <option value="hectare" {% if parsed_object_model.land_area_unit == 'hectare' %} selected {% endif %}>Гектар</option>
                </select>
            </div>

            {# parsed_object_model.is_land and parsed_object_model.is_suburban_sale #}
            <div class="offerLandStatusTitle" style="display: {% if parsed_object_model.is_land %}block{% else %}none{% endif %};">
                <span class="">Тип участка</span>
            </div>
            <div class="offerLandStatusInput" style="display: {% if parsed_object_model.is_land %}block{% else %}none{% endif %};">
                <select class="select-control" id="getLandStatus">
                    <option value="" selected>Не выбрано</option>
                    <option value="individualHousingConstruction" {% if parsed_object_model.land_status == 'ИЖС' %}selected {% endif %}>ИЖС</option>
                    <option value="gardening" {% if parsed_object_model.land_status == 'СНТ, ДНП' %} selected {% endif %}>Садоводство</option>
                    <option value="industrialLand" {% if parsed_object_model.land_status == 'промназначения' %} selected {% endif %}>Земля промназначения</option>
            </select>
            </div>
            
            <div class='table-block-header'>
                <td><span class="text-header">Условия сделки</span></td>
            </div>

            {% if parsed_object_model.is_rent %}
                <div class="offerLeaseTypeTitle">
                    <span class="">	Тип аренды</span>
                </div>
                <div class="offerLeaseTypeSelect">
                    <select class="select-control" id="getLeaseType">
                        <option value="" selected disabled>Не выбрано</option>
                        <option value="direct">прямая аренда</option>
                        <option value="sublease">субаренда</option>
                    </select>
                </div>
            {% endif %}

            <div class="offerPriceTitle"> <span class="">Цена</span></div>
            <div class="offerPriceInput">
                <input class="input-control" required placeholder="Цена объекта в рублях"
                    value="{{ parsed_object_model.price }}" type="number" id="getPrice">
            </div>

            {# parsed_object_model.is_rent #}
            <div class="offerDepositTitle" style="display: {% if parsed_object_model.is_rent %} block {% else %} none {% endif %};">
                    <span class="">Залог</span>
            </div>
            <div class="offerDepositInput" style="display: {% if parsed_object_model.is_rent %} block {% else %} none {% endif %};">
                <input class="input-control" required placeholder="Залог собственнику"
                    type="number" id="getDeposit">
            </div>

            {# parsed_object_model.is_long_term_rent #}
            <div class="offerPrepayMonthsTitle" style="display: {% if parsed_object_model.is_long_term_rent %} block {% else %} none {% endif %}">
                    <span class="">Предоплата</span>
            </div>
            <div class="offerPrepayMonthsInput" style="display: {% if parsed_object_model.is_long_term_rent %} block {% else %} none {% endif %}">
                <input class="input-control" required placeholder="Предоплата (от 1 до 12 месяцев)"
                    type="number" id="getPrepayMonths">
            </div>

            {# parsed_object_model.is_sale #}
            <div class="offerSaleTypeTitle" style="display: {% if parsed_object_model.is_sale %} block {% else %} none {% endif%};">
                    <span class="">Тип продажи</span>
            </div>
            <div class="offerSaleTypeSelect" style="display: {% if parsed_object_model.is_sale %} block {% else %} none {% endif%};">
                <select class="select-control" id="getSaleType">
                    <option value="" selected disabled>Не выбрано</option>
                    <option value="free">Свободная продажа</option>
                    <option value="alternative">Альтернатива</option>
                </select>
            </div>

            <div class='table-block-header'>
                <span class="text-header">Дополнительно</span>
            </div>

            <div class="offerDescriptionTitle">
                <span class=""> Описание объявления</span>
            </div>
            <div class="offerDescriptionTitleInput">
                    <textarea class="input-control"
                              placeholder="Описание объявления"
                              id="getDescription"></textarea>
            </div>
        </div>
            {% if not exist_drafts %}
                <div class="clientForm">
                    <div class='client-table-block-header'>
                        <span class="text-header">Личный кабинет</span>
                    </div>
                    <div class="changeClientPhoneTitle">
                        <span class="">Номер телефона</span>
                    </div>

                    <div id="clientPhoneNumberInput" class="client-form-phone-input">
                        <input class="input-control" placeholder="Реальный телефон владельца"
                            value="{{ client.client_phones[0] }}"
                            type="string"
                            id="getPhoneNumber"
                            style="float: left">
                    </div>
                    <div id="clientPhoneNumberBtn">
                        <button id="updateClientPhoneNumberBtn" style="float: left" type="button" class="btn">Сменить</button>
                    </div>
                    <div id="accountCheckboxesBlock" >
                    <div id="useExistingAccountRadio" style="float: left;">
                        <input type="radio" style="float: left;" name="account" id="getUseExistingAccount" checked>
                    </div>
                    <div id="useExistingAccountTitle" style="float: left;">
                        <span class="">Использовать существующий ЛК</span>
                    </div>
                    <div id="createNewAccountRadio" style="float: left;">
                        <input type="radio" style="float: left;" name="account" id="getCreateNewAccount">
                    </div>
                    <div id="createNewAccountTitle" style="float: left;">
                        <span class="">Создать новый ЛК</span>
                    </div>

                    </div>

                    <div id="createNewAccountSpacer">
                    </div>
                    <div id="accountForDraftTitle">
                        <span class="">Выбранный ЛК</span>
                    </div>
                    <div id="accountForDraftSelect">
                        <select class="select-control" id="getAccountForDraft">
                            <option value="" selected disabled>Не выбрано</option>
                            {% for client_account in client_accounts %}
                                <option value={{ client_account.cian_user_id }}>({{ client_account.cian_user_id }}) {{ client_account.email }} {% if client_account.is_agent %}Специалист{% else %}Собственник{% endif %}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="accountForDraftSpacer"></div>

                    <div id="accountTypeTitle">
                        <span class="">Тип ЛК</span>
                    </div>
                    <div id="accountTypeSelect">
                        <select class="select-control" id="getAccountType">
                            <option selected value="realtor">Специалист</option>
                            <option value="homeowner">Собственник</option>
                        </select>
                    </div>
                    <div id="accountTypeSpacer"></div>

                    <div id="transformAccountToSpecialistTitleBlock" >
                    <div id="transformAccountToSpecialistCheckboxTitle" style="float: left;">
                        <span class="">Превратить в специалиста</span>
                    </div>
                    </div>

                    <div id="transformAccountToSpecialistCheckboxBlock">
                    <div id="transformAccountToSpecialistCheckbox" style="float: left;">
                        <input type="checkbox" style="float: left;" name="account" id="getTransformAccountToSpecialist" checked>
                    </div>
                    <div id="transformAccountToSpecialistMessage" style="float: left;">
                        <span class="">Это действие не может быть отменено позже!</span>
                    </div>
                    </div>

                </div>
            {% endif %}
    </form>
    </div>
    {% if offer_is_draft %}
    <div class="footer-block">
        <div>
            <div class="text-info">Обьявление уже опубликовано как черновик, но не активировано.</div>
        </div>
    </div>
    {% else %}
    <div class="footer-block">
        <div>
            <div class="text-info">{{ info_message }}</div>
            <div class="save-offer-button-block">
                <button id="saveOfferBtn" type="button" class="btn">Сохранить объявление</button>
            </div>
        </div>
    </div>
    {% endif %}
</div>  

<script>
    jQuery(($) => {
        let DEBUG = 'True' === '{{ debug }}'
        let clientAccountsDict = {}
        {% for client_account in client_accounts %}
        clientAccountsDict[{{ client_account.cian_user_id }}] = {% if client_account.is_agent %} true {% else %} false {% endif %}
        {% endfor %}
        let is_ready_business_enabled = {{ is_ready_business_enabled }}
        const saveOfferBtn = $('#saveOfferBtn');
        const updateClientPhoneBtn = $('#updateClientPhoneNumberBtn');
        const getDealType = $('#getDealType');
        const getTermType = $('#getTermType');
        const getOfferType = $('#getOfferType');
        const getCategoryType = $('#getCategoryType');
        const initialDealTypeValue = getDealType.val()
        const initialTermTypeValue = getTermType.val()
        const initialOfferTypeValue = getOfferType.val()
        const initialCategoryTypeValue = getCategoryType.val()
        const getAddress = $('#getAddress');
        const getRealtyType = $('#getRealtyType');
        const getTotalArea = $('#getTotalArea');
        const getRoomsCount = $('#getRoomsCount');
        const getFloorNumber = $('#getFloorNumber');
        const getFloorCount = $('#getFloorCount');
        const getPrice = $('#getPrice');
        const getSaleType = $('#getSaleType');
        const getPhoneNumber = $('#getPhoneNumber');
        const getDescription = $('#getDescription');
        const getDeposit = $('#getDeposit');
        const getPrepayMonths = $('#getPrepayMonths');
        const getCreateNewAccount = $('#getCreateNewAccount');
        const getAccountForDraft = $('#getAccountForDraft');
        const getAccountType = $('#getAccountType');
        const getUseExistingAccount = $('#getUseExistingAccount');
        const getTransformAccountToSpecialist = $('#getTransformAccountToSpecialist');
        const getLandArea = $('#getLandArea');
        const getAreaUnit = $('#getAreaUnit');
        const getLandStatus = $('#getLandStatus');
        const updateOfferCategoryBtn = $('#updateOfferCategory');
        const is_allow_realty_type_options = $(".is_allow_realty_type_option")
        const is_suburban_sale_options = $(".is_suburban_sale_option")
        const is_commercial_options = $(".is_commercial_option");
        const house_option = $('#house');
        const getAppointmentBuildingType = $('#getAppointmentBuildingType');
        const getBuildingType = $('#getBuildingType');
        const getMonthlyIncome = $('#getMonthlyIncome');
        const getReadyBusinessType = $('#getReadyBusinessType');
        const getSpecialtyType = $('#getSpecialtyType');
        const getCommercialLandType = $('#getCommercialLandType');
        const buildingTypes = [
            {   text: 'Административное здание',
                value: 'administrativeBuilding'
            }, {
                text: 'Бизнес-центр',
                value: 'businessCenter'
            }, {
                text: 'Деловой центр',
                value: 'businessCenter2'
            }, {
                text: 'Деловой квартал',
                value: 'businessQuarter2',
            }, {
                text: 'Деловой дом',
                value: 'businessHouse',
            }, {
                text: 'Бизнес-парк',
                value: 'businessPark'
            }, {
                text: 'Бизнес-квартал',
                value: 'businessQuarter'
            }, {
                text: 'Объект свободного назначения',
                value: 'free'
            }, {
                text: 'Объект свободного назначения',
                value: 'freeAppointmentObject'
            }, {
                text: 'Производственный комплекс',
                value: 'industrialComplex'
            }, {
                text: 'Индустриальный парк',
                value: 'industrialPark'
            }, {
                text: 'Промплощадка',
                value: 'industrialSite'
            }, {
                text: 'Производственно-складской комплекс',
                value: 'industrialWarehouseComplex'
            }, {
                text: 'Логистический центр',
                value: 'logisticsCenter'
            }, {
                text: 'Логистический комплекс',
                value: 'logisticsComplex'
            }, {
                text: 'Особняк',
                value: 'mansion'
            }, {
                text: 'Производственное здание',
                value: 'manufactureBuilding'
            }, {
                text: 'Производственный цех',
                value: 'manufacturingFacility'
            }, {
                text: 'Модульное здание',
                value: 'modular'
            }, {
                text: 'Многофункциональный комплекс',
                value: 'multifunctionalComplex'
            }, {
                text: 'Офисный центр',
                value: 'officeCenter'
            }, {
                text: 'Офисный комплекс',
                value: 'officeComplex'
            }, {
                text: 'Офисный квартал',
                value: 'officeQuarter'
            }, {
                text: 'Офисно-гостиничный комплекс',
                value: 'officeAndHotelComplex'
            }, {
                text: 'Офисно-жилой комплекс',
                value: 'officeAndResidentialComplex'
            }, {
                text: 'Офисно-складское',
                value: 'officeAndWarehouse'
            }, {
                text: 'Офисно-складской комплекс',
                value: 'officeAndWarehouseComplex'
            }, {
                text: 'Офисное здание',
                value: 'officeBuilding'
            }, {
                text: 'Офисно-производственный комплекс',
                value: 'officeIndustrialComplex'
            }, {
                text: 'Старый фонд',
                value: 'old'
            }, {
                text: 'Другое',
                value: 'other'
            }, {
                text: 'Аутлет',
                value: 'outlet'
            }, {
                text: 'Имущественный комплекс',
                value: 'propertyComplex'
            }, {
                text: 'Жилой комплекс',
                value: 'residentialComplex'
            }, {
                text: 'Жилой фонд',
                value: 'residentialFund'
            }, {
                text: 'Жилой дом',
                value: 'residentialHouse'
            }, {
                text: 'Торгово-деловой комплекс',
                value: 'shoppingAndBusinessComplex'
            }, {
                text: 'Торгово-общественный центр',
                value: 'shoppingAndCommunityCenter'
            }, {
                text: 'Торгово-развлекательный центр',
                value: 'shoppingAndEntertainmentCenter'
            }, {
                text: 'Торговый центр',
                value: 'shoppingCenter'
            }, {
                text: 'Торговый комплекс',
                value: 'shoppingComplex'
            }, {
                text: 'Торговый дом',
                value: 'tradingHouse'
            }, {
                text: 'Специализированный торговый центр',
                value: 'specializedShoppingCenter'
            }, {
                text: 'Отдельно стоящее здание',
                value: 'standaloneBuilding'
            }, {
                text: 'Технопарк',
                value: 'technopark'
            }, {
                text: 'Торгово-выставочный комплекс',
                value: 'tradeAndExhibitionComplex'
            }, {
                text: 'Торгово-офисный комплекс',
                value: 'tradingOfficeComplex'
            }, {
                text: 'Нежилой фонд',
                value: 'uninhabitedFund'
            }, {
                text: 'Склад',
                value: 'warehouse'
            }, {
                text: 'Складской комплекс',
                value: 'warehouseComplex'
            }
        ];

        $('.ajax-form').on('submit', (event) => {
            event.preventDefault();
        });
        
        // fix for service.cian.ru
        window.onpopstate = function(event) {
            location.reload();
        };

        function getNumberOrStrNull(obj) {
            return isNaN(parseInt(obj)) ? (DEBUG ? null : "null") : parseInt(obj)
        }

        function getFloatOrStrNull(obj) {
            return isNaN(parseFloat(obj)) ? (DEBUG ? null : "null") : parseFloat(obj)
        }

        function getValueOrStrNull(obj) {
            return obj === '' ? (DEBUG ? null : "null") : obj
        }

        function onClickAppointmentBuildingTypeAddOptions() {
            $.each(buildingTypes, function (i, item) {
                getAppointmentBuildingType.append($('<option>', {
                    value: item.value,
                    text : item.text
                }));
            });
        }

        function onClickCreateNewAccountRadio() {
            var account_title_element = document.getElementById('accountForDraftTitle')
            var account_input_element = document.getElementById('accountForDraftSelect')
            var account_spacer_element = document.getElementById('accountForDraftSpacer')
            var type_title_element = document.getElementById('accountTypeTitle')
            var type_input_element = document.getElementById('accountTypeSelect')
            var type_spacer_element = document.getElementById('accountTypeSpacer')
            var transform_account_title_block = document.getElementById('transformAccountToSpecialistTitleBlock')
            var transform_account_checkbox_block = document.getElementById('transformAccountToSpecialistCheckboxBlock')

            if (getCreateNewAccount.is(':checked') === true) {
                account_title_element.style.display = 'none'
                account_input_element.style.display = 'none'
                account_spacer_element.style.display = 'none'
                transform_account_title_block.style.display = 'none'
                transform_account_checkbox_block.style.display = 'none'
                type_title_element.style.display = 'inline'
                type_input_element.style.display = 'inline'
                type_spacer_element.style.display = 'inline'
            }
        }

        function onClickUseExistingAccountRadio() {
            var account_title_element = document.getElementById('accountForDraftTitle')
            var account_input_element = document.getElementById('accountForDraftSelect')
            var account_spacer_element = document.getElementById('accountForDraftSpacer')
            var type_title_element = document.getElementById('accountTypeTitle')
            var type_input_element = document.getElementById('accountTypeSelect')
            var type_spacer_element = document.getElementById('accountTypeSpacer')
            var transform_account_title_block = document.getElementById('transformAccountToSpecialistTitleBlock')
            var transform_account_checkbox_block = document.getElementById('transformAccountToSpecialistCheckboxBlock')

            if (getUseExistingAccount.is(':checked') === true) {
                account_title_element.style.display = 'inline'
                account_input_element.style.display = 'inline'
                account_spacer_element.style.display = 'inline'
                type_title_element.style.display = 'none'
                type_input_element.style.display = 'none'
                type_spacer_element.style.display = 'none'
                if (clientAccountsDict[getAccountForDraft.val()] === false) {
                    transform_account_title_block.style.display = 'inline'
                    transform_account_checkbox_block.style.display = 'inline'
                } else {
                    transform_account_title_block.style.display = 'none'
                    transform_account_checkbox_block.style.display = 'none'
                }
            }
        }

        function onChangeAccountForDraftCombo() {
            clientAccountsDict[getAccountForDraft.val()] === true
            var transform_account_title_block = document.getElementById('transformAccountToSpecialistTitleBlock')
            var transform_account_checkbox_block = document.getElementById('transformAccountToSpecialistCheckboxBlock')

            if (clientAccountsDict[getAccountForDraft.val()] === false) {
                transform_account_title_block.style.display = 'inline'
                transform_account_checkbox_block.style.display = 'inline'
            } else {
                transform_account_title_block.style.display = 'none'
                transform_account_checkbox_block.style.display = 'none'
            }
        }
        
        function toggleUpdateOfferCategoryBtn() {
            if(
                initialDealTypeValue == getDealType.val() && 
                initialTermTypeValue == getTermType.val() && 
                initialOfferTypeValue == getOfferType.val() && 
                initialCategoryTypeValue == getCategoryType.val()
            )
            {
                updateOfferCategoryBtn.css({'display': 'none'})
            } else {
                updateOfferCategoryBtn.css({'display': 'block'})
            }

        }

        function updateFields() {
            // toggle TermType
            if(getDealType.val() == 'rent'){
                // show TermType
                $(".offerTermTypeTitle").css({'display':'block'});
                $(".offerTermTypeSelect").css({'display':'block'});
            }else if(getDealType.val() == 'sale'){
                // hide TermType
                $(".offerTermTypeTitle").css({'display':'none'});
                $(".offerTermTypeSelect").css({'display':'none'});
                $(".offerTermTypeSelect").val("").change();
            }
            // toggle CategoryType
            if(getOfferType.val() == 'flat'){
                is_allow_realty_type_options.show();
                is_suburban_sale_options.hide();
                is_commercial_options.hide();
            } else if(getOfferType.val() == 'suburban'){
                // https://jira.cian.tech/browse/CD-109868?focusedCommentId=1063395&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-1063395
                // Для посуточной аренды загородки должен быть доступен только дом
                is_suburban_sale_options.show();
                is_allow_realty_type_options.hide();
                is_commercial_options.hide()
                if(getTermType.val() == 'daily' && getDealType.val() == 'rent'){
                    is_suburban_sale_options.hide();
                    house_option.show()
                }
            } else if(getOfferType.val() == 'commercial') {
                is_commercial_options.show();
                is_suburban_sale_options.hide();
                is_allow_realty_type_options.hide();
            }
        }

        const saveOffer = () => {
            let category = getCategoryType.val();
            if (getPrice.val() === "") {
                alert('Цена обязательный параметр!');
                return
            } else if (getTotalArea.val() === "") {
                alert('Общая площадь обязательный параметр!');
                return
            } else if (getAddress.val() === "") {
                alert('Адрес обязательный параметр!');
                return
            } else if (getDescription.val() === "") {
                alert('Описание объявления обязательный параметр!');
                return
            }
            if (category === "shoppingArea" &&  getBuildingType.val() === null) {
                alert('Тип помещения обязательный параметр!');
                return
            }
            if (category === "building" &&  getAppointmentBuildingType.val() === null) {
                alert('Возможное назначение обязательный параметр!');
                return
            }
            if (
                category === "freeAppointmentObject"
                && getSpecialtyType.val() === null

            ) {
                alert('Назначение обязательные параметры!');
                return
            }

            if (
                is_ready_business_enabled == true &&
                category === "business" &&
                (
                    getSpecialtyType.val() === null ||
                    getMonthlyIncome.val() === null ||
                    getReadyBusinessType.val() === null
                )
            ) {
                alert('Пожалуйста, проверьте заполнены ли следующие обязательные параметры: Тип готового бизнеса, Месячная прибыль и Назначение!');
                return
            }

            if (category === "commercialLand" && getCommercialLandType.val() === null) {
                alert('Категория земли обязательный параметр!');
                return
            }

            var createNewAccount = getCreateNewAccount.is(':checked')
            var publishAsHomeowner = null

            if (createNewAccount === true) {
                publishAsHomeowner = (getAccountType.val() === 'homeowner')
            } else if (clientAccountsDict[getAccountForDraft.val()] === true){
                publishAsHomeowner = false
            } else {
                publishAsHomeowner = !getTransformAccountToSpecialist.is(':checked')
            }

            let obj = {
                dealType: getDealType.val(),
                offerType: getOfferType.val(),
                category: category,
                address: getAddress.val(),
                totalArea: parseInt(getTotalArea.val()),
                price: parseInt(getPrice.val()),
                description: getDescription.val(),
                createNewAccount: createNewAccount,
                publishAsHomeowner: publishAsHomeowner,
                offerId: '{{ offer_id }}',
                clientId: '{{ client.client_id }}',
            }
            let floorNumber = getNumberOrStrNull(getFloorNumber.val())
            let floorsCount = getNumberOrStrNull(getFloorCount.val())
            let roomsCount = getValueOrStrNull(getRoomsCount.val())
            let realtyType = getValueOrStrNull(getRealtyType.val())
            let saleType = getValueOrStrNull(getSaleType.val())
            let termType = getValueOrStrNull(getTermType.val())
            let accountForDraft = getNumberOrStrNull(createNewAccount ? "" : getAccountForDraft.val())
            let landArea = getNumberOrStrNull(getLandArea.val())
            let landAreaUnitType = getValueOrStrNull(getAreaUnit.val())
            let landStatus = getValueOrStrNull(getLandStatus.val())
            if(floorNumber) obj.floorNumber = floorNumber;
            if(floorsCount) obj.floorsCount = floorsCount;
            if(roomsCount) obj.roomsCount = roomsCount;
            if(realtyType) obj.realtyType = realtyType;
            if(saleType) obj.saleType = saleType;
            if(termType) obj.termType = termType;
            if(accountForDraft) obj.accountForDraft = accountForDraft;
            if(landArea) obj.landArea = landArea;
            if(landAreaUnitType) obj.landAreaUnitType = landAreaUnitType;
            if(landStatus) obj.landStatus = landStatus;
            if (getBuildingType) obj.buildingType = getValueOrStrNull(getBuildingType.val());
            if (getAppointmentBuildingType) obj.appointmentBuildingType = getValueOrStrNull(getAppointmentBuildingType.val());
            if (getSpecialtyType) obj.specialtyType = getSpecialtyType.val();
            if (getMonthlyIncome) obj.monthlyIncome = getFloatOrStrNull(getMonthlyIncome.val());
            if(getReadyBusinessType){
                var readyBusinessType = getValueOrStrNull(getReadyBusinessType.val());
                if(readyBusinessType){
                    obj.readyBusinessType = readyBusinessType
                }
            }
            if (getCommercialLandType) obj.commercialLandType = getValueOrStrNull(getCommercialLandType.val());
            {% if parsed_object_model.is_rent %}
                let deposit = getNumberOrStrNull(getDeposit.val())
                if(deposit) obj.deposit = deposit
            {% endif %}

            {% if parsed_object_model.is_long_term_rent %}
                let prepayMonths = getNumberOrStrNull(getPrepayMonths.val())
                if(prepayMonths) obj.prepayMonths = prepayMonths
            {% endif %}

            $.post("/api/admin/v1/save-offer/",  
                DEBUG ? JSON.stringify(obj) : obj
            ).then(function (data) {
                switch (data.status) {
                    case 'ok':
                        alert('Объявление успешно создано как черновик');
                        if (DEBUG) {
                            window.location.href = `/admin/offers-list/`;
                        } else {
                            // workaround to redirect when on service.cian.ru
                            queryParams = new URLSearchParams(window.location.search)
                            queryParams.set("url", `/admin/offers-list/`);
                            history.pushState(null, null, "?"+queryParams.toString());
                            location.reload()
                        }
                        break;
                    default:
                        if(data.message){
                            alert(data.message);
                        }else{
                            alert(data);
                        }
                        break;
                }
            });
        };

        const updateOfferCategory = () => {
            let termType = getTermType.val();
            // validate dealType and termType
            if(getDealType.val() == 'rent' && !getTermType.val()){
                alert('Выберите срок аренды.')
                return null
            }
            else if(getDealType.val() == 'sale'){
                termType = null;
            }
            let obj = {
                offerId: '{{offer_id}}',
                dealType: getDealType.val(),
                offerType: getOfferType.val(),
                categoryType: getCategoryType.val(),
            }
            if(termType) obj.termType = termType;
            $.post("/api/admin/v1/update-offer-category/",
                {# DEBUG ? JSON.stringify(obj) : obj #}
                obj
            ).then((response) => {
                if(response.success == true){
                    alert(`${response.message}`);
                    // location.reload();
                }else{
                    getTermType.val('')
                    getDealType.val('')
                    getOfferType.val('')
                    getCategoryType.val('')
                    if(response.message){
                        alert(response.message)
                    }else{
                        alert(response)
                    }
                }
            });


        }

        getDealType.change(() => {
            toggleUpdateOfferCategoryBtn()
            updateFields()
        })

        getTermType.change(() => {
            toggleUpdateOfferCategoryBtn()
            updateFields()
        })

        getOfferType.change(() => {
            toggleUpdateOfferCategoryBtn()
            updateFields()
        })

        getCategoryType.change(() => {
            toggleUpdateOfferCategoryBtn()
            updateFields()
        })

        updateOfferCategoryBtn.click(() => {
            updateOfferCategory()
        })

        getAppointmentBuildingType.ready(() => {
            onClickAppointmentBuildingTypeAddOptions()
        })

        saveOfferBtn.click(() => {
            saveOffer()
        });

        getCreateNewAccount.click(() => {
            onClickCreateNewAccountRadio()
        })

        getAccountForDraft.change(() => {
            onChangeAccountForDraftCombo()
        })

        getUseExistingAccount.click(() => {
            onClickUseExistingAccountRadio()
        })

        updateClientPhoneBtn.click(function() {
            if (getPhoneNumber.val() === "") {
                alert('Телефон обязательный параметр!')
                return
            }
            let obj = {
                phoneNumber: getPhoneNumber.val(),
                clientId: '{{ client.client_id }}',

            }
            $.post("/api/admin/v1/update-client-phone/", DEBUG ? JSON.stringify(obj) : obj
            ).then(function (data) {
                if (data.success === true) {
                    alert('Телефон успешно изменен')
                    location.reload();
                } else {
                    errors = data.errors.map((element) => element.message).join('\n');
                    alert(errors)
                }
            });
        })

    });

    let meta = document.createElement('meta');
    meta.name = "referrer";
    meta.content = "no-referrer";
    document.getElementsByTagName('head')[0].appendChild(meta);
</script>

<style>
    .main_style {
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        top: 0px;
        left: 0px;
    }

    .ajax-form {
        top: 70px;
        left: 300px;
    }

    .select-control, .input-control {
        width: 100%;
    }

    table, th, td {
        border: 0;
        border-spacing: 20px;
    }

    .text-header {
        font-family: Arial;
        font-weight: Bold;
        font-size: 24px;
        opacity: 1;
        text-align: left;
    }

    .text-info {
        color: rgba(111, 111, 111, 1);
        font-family: Arial;
        font-size: 16px;
        opacity: 1;
        text-align: left;
    }

    .btn {
        height: 30px;
    }

    .client-info-offer-title {
        color: rgba(66, 120, 176, 1);
        font-family: Arial;
        font-weight: Bold;
        font-size: 24px;
        text-align: left;
    }

    .client-info-offer-phones {
        color: rgba(0, 0, 0, 1);
        font-family: Arial;
        font-weight: Bold;
        font-size: 24px;
        text-align: right;
    }

    .client-info-offer-name {
        color: rgba(0, 0, 0, 1);
        font-family: Arial;
        font-size: 16px;
        opacity: 1;
        text-align: left;
    }

    .client-info-offer-address {
        color: rgba(0, 0, 0, 1);
        grid-column-start: 1;
        grid-column-end: 3;
        font-family: Arial;
        font-size: 16px;
        text-align: left;
    }
    
    .offerForm {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        padding: 2em 0 1em 0;
        margin-left: auto;
        margin-right: auto;
        width: 60%
    }

    .clientForm {
        display: grid;
        grid-template-columns: 0.75fr 0.5fr 0.5fr 0.5fr;
        padding: 0em 0;
        margin-left: auto;
        margin-right: auto;
        width: 60%
    }

    .offerForm div {
        padding: 0.1em 0;
    }
    .client-form-input {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .client-form-phone-input {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .header-block {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        padding: 1em 0 0;
    }
    .footer-block {
        margin-left: auto;
        margin-right: auto;
        width: 60%
    }
    .client-info {
        display: grid;
        grid-template-columns: 0.7fr 0.3fr;  
    }
    .table-block-header {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .client-table-block-header {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .clientForm div {
        padding: 0.1em 0;
    }
    #clientPhoneNumberBtn {
        padding: 0em 0.9em;
    }

    #accountForDraftTitle {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #accountForDraftSelect {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    #accountTypeSelect {
        grid-column-start: 2;
        grid-column-end: 4;
        display: none;
    }
    #accountTypeTitle {
        display: none;
    }
    .save-offer-button-block {
        margin-left: auto;
        margin-right: auto;
        width: 30%
    }
    #accountCheckboxesBlock {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #createNewAccountSpacer {
        grid-column-start: 4;
        grid-column-end: 5;
    }
    #useExistingAccountRadio {
        padding: 0.75em 0em;
    }

    #createNewAccountRadio {
        padding: 0.75em 0em;
    }

    #useExistingAccountTitle {
        padding: 0.75em 2em 0.75em 0.5em
    }

    #createNewAccountTitle {
        padding: 0.75em 1em 0.75em 0.5em;
    }
    #transformAccountToSpecialistTitleBlock {
        grid-column-start: 1;
        grid-column-end: 2;
        display: none
    }
    #transformAccountToSpecialistCheckboxBlock {
        grid-column-start: 2;
        grid-column-end: 5;
        display: none;
    }
    #transformAccountToSpecialistMessage {
        padding-left: 1em;
        color: red;
    }
    .text-info {
        padding: 1em 0 0.5em 0;
    }
</style>
