<html>
   <head>
      <style>
         .client-info-block {
         margin: 1em;
         display: {% if (client is defined) and client %} block {% else %} none {% endif %};
         }

         .client-info-block-title {
         font-weight: bold;
         padding: 0.5em 0;
         }

         .offers-block {
         margin: 1em;
         display: {% if (offers is defined) and offers %} block {% else %} none{% endif %};
         }
         .offers-block-title {
         font-weight: bold;
         padding: 0.5em 0;
         }
         .offers-row.offers-row-header {
         border-top: 2px solid #000000;
         }
         .offercolumn.offercolumnheader {
         font-weight: bold;
         }
         .offercolumn.offer-column-identifier {
         cursor: pointer;
         color: #337AB7;
         font-weight: bold;
         }
         .offercolumn.offer-column-identifier:hover {
         text-decoration: underline;
         color: #22527C;
         }
         .client-info-profile-url:hover {
         text-decoration: none;
         text-shadow: 0.5px 0.5px 0.5px #555;
         }
         .offers-row {
         border-top: 0;
         border-bottom: 2px solid #000000;
         border-left: 2px solid #000000;
         border-right: 2px solid #000000;
         grid-column-start: 1;
         grid-column-end: 4;
         grid-row-start: 1;
         grid-row-end: 3;
         display: grid;
         grid-template-columns: 0.5fr 0.5fr 1fr 0.30fr 0.25fr 0.25fr;
         border-radius: 2px;
         padding: 1em;
         }
         .update-offers-block {
         padding: 1em;
         display: {% if (offers is defined) and offers %} none {% else %} grid {% endif %};
         }
         .update-offers-button {
         margin: auto;
         }
         .return-client-block {
         margin: auto;
         padding: 1.5em 0 0 0;
         display: flex;
         }
         #clientPhoneNumberInputWrapper {
         padding: 0 0.5em 0 0;
         }
         .update-offers-messages {
         margin: auto;
         padding: 0.5em;
         }
         .error-messages-block {
         display: {% if not (client is defined) or not (client) or not (offers is defined) or not offers %} grid {% else %} none {% endif %};
         }

         .client-error-message {
         margin: auto;
         display: {% if (client is defined) and client %} none {% else %} grid {% endif %};
         }
         .offers-error-message {
         margin: auto;
         display: {% if (client is defined) and (client) and not (offers is defined) and not offers %} grid {% else %} none {% endif %};
         }
         .decline-client-block {
         padding: 0.5em 0em;
         display: inline-block;
         }
         .call-missed-client-block {
         padding: 0.5em 0.5em;
         display: inline-block;
         }
         .call-later-client-block {
         padding: 0.5em 0em;
         display: flex;
         }
         #call-later-datetime {
         margin: 0em 1em 0em 0em
         }

      </style>
      <meta charset="utf-8">
   </head>
   <body>
      <div class="update-offers-block">
         <button class="update-offers-button" id="updateOffersBtn">Получить задания</button>
         <div class="return-client-block">
            <div id="clientPhoneNumberInputWrapper" class="client-form-phone-input">
                <input id="clientPhoneNumberInput" placeholder="Телефон клиента"
                       type="string"
                       size=20
                       maxlength=15>
            </div>
            <div id="clientPhoneNumberBtn">
               <button id="returnClientByPhoneNumberBtn" type="button">Взять клиента в работу</button>
            </div>
         </div>

         <div class="update-offers-messages" id="updateOffersMessages1"></div>
      </div>
      <div class="client-info-block">
         <div class="client-info-block-title">Клиент</div>
         {% if (client.cian_user_id) %}<div class="client-info-profile-url"> <a rel="noopener noreferrer" target="_blank" href="https://service.cian.ru/customers/view/{{ client.cian_user_id }}">Профиль</a></div>{% endif %}
         <div id="clientInfoClientId">Идентификатор: {{ client.client_id }}</div>
         {% if (client.client_name) %}<div id="clientInfoClientName">Имя: {{ client.client_name }}</div>{% endif %}
         {% if (client.segment) %}<div id="clientInfoClientSegment">Сегмент: {{ client.segment.value }}</div>{% endif %}
         <div id="clientInfoClientPhone">Телефон: {{ client.client_phones | join(',') }}</div>
         <div id="clientInfoClientCallsCount">Номер звонка: {% if client.calls_count %} {{ client.calls_count }} {% else %} 0 {% endif %}</div>
         <div class="client-buttons">
            <div class="decline-client-block">
               <button class="decline-client-button" id="declineClientButton1">Отказ</button>
               <div class="decline-client-messages" id="declineClientMessages1"></div>
            </div>
            <div class="call-missed-client-block">
               <button class="call-missed-client-button" id="callMissedClientButton1">Недозвон</button>
               <div class="call-missed-client-messages" id="callMissedClientMessages1"></div>
            </div>
            <div class="call-later-client-block">
               <input id="call-later-datetime" type="datetime-local" value={{ next_call_datetime }}>
               <button class="call-later-client-button" id="callLaterClientButton1">Перезвонить</button>
               <div class="call-later-client-messages" id="callLaterClientMessages1"></div>

            </div>

         </div>
      </div>
      <div class="offers-block">
         <div class="offers-block-title">Объявления</div>
         <div class="offers-grid">
            <div class="offers-row offers-row-header">
               <div class="offercolumn offercolumnheader">Идентификатор</div>
               <div class="offercolumn offercolumnheader">Название</div>
               <div class="offercolumn offercolumnheader">Адрес</div>
               <div class="offercolumn offercolumnheader">Создано</div>
               <div class="offercolumn offercolumnheader">Статус</div>
            </div>
            {% for offer in offers %}
            <div class="offers-row">
               <div class="offercolumn offer-column-identifier" onclick="onClickOfferRowIdentifier(this)">{{ offer.id }}</div>
               <div class="offercolumn offer-column-title">{{ offer.title }}</div>
               <div class="offercolumn offer-column-address">{{ offer.address }}</div>
               <div class=offercolumn>{{ offer.created_at|date }} {{ offer.created_at|time }}</div>
               <div class="offercolumn offer-column-status">{{ offer.status.value }}</div>
               <div class=offercolumn>
                  <button style="display:inline" onclick="onClickOfferRowDelete('{{ offer.id }}', '{{ client.client_id }}')">Удалить</button>
               </div>
            </div>
         {% endfor %}
               </div>
      </div>

      <div class="error-messages-block">
         <div class="offers-error-message">Нет объявлений в работе, получите новые задания</div>
         <div class="client-error-message">Нет клиента в работе, получите новые задания</div>
      </div>
      <script>
         let DEBUG = 'True' === '{{ debug }}'
         
         function formDataFromObject(obj) {
            var form_data = new FormData();
            for ( var key in obj ) {
               form_data.append(key, obj[key]);
            }
         
            return form_data
         }
         
         function onClickOfferRowIdentifier(element) {
            if (DEBUG) {
               window.location.href = `/admin/offer-card/${element.innerHTML}/`;
            } else {
               // workaround to redirect when on service.cian.ru
               queryParams = new URLSearchParams(window.location.search)
               queryParams.set("url", `/admin/offer-card/${element.innerHTML}/`);
               history.pushState(null, null, "?"+queryParams.toString());
               location.reload()
            }
         }

         async function onClickOfferRowDelete(offer_id, client_id) {
           let obj =  {
               'offer_id': offer_id,
               'client_id': client_id
           }
           const response = await fetch("/api/admin/v1/delete-offer/", {
             method: 'POST',
             body: DEBUG ? JSON.stringify(obj) : formDataFromObject(obj)
           });
           resp = await response.json();
           if (resp.success === true) {
             location.reload(); 
           } else {
              alert('Не удалось удалить задание')
           }
         }

         document.getElementById("updateOffersBtn").onclick = async function () {
           const response = await fetch("/api/admin/v1/update-offers-list/", {
             method: 'POST'
           });
           resp = await response.json()
           if (resp.success === true) {
             location.reload(); 
           } else {
             errors = resp.errors.map((element) => element.message).join('<br>');
             updateOffersMessages = document.getElementById("updateOffersMessages1");
             updateOffersMessages.innerHTML = errors;
           }
         };

         document.getElementById("returnClientByPhoneNumberBtn").onclick = async function () {
           phoneNumber = document.getElementById("clientPhoneNumberInput").value
           if (phoneNumber === '') {
              alert('Не заполнен номер телефона!');
              return;
           }
           obj = {
              'phoneNumber': phoneNumber
           }
           body = DEBUG ? JSON.stringify(obj) : formDataFromObject(obj)
           const response = await fetch("/api/admin/v1/return-client-by-phone/", {
             method: 'POST',
             body: body
           });
           resp = await response.json()
           if (resp.success === true) {
              alert('Клиент взят в работу')
              location.reload()
           } else {
             errors = resp.errors.map((element) => element.message).join('<br>');
             updateOffersMessages = document.getElementById("updateOffersMessages1");
             updateOffersMessages.innerHTML = errors;
           }
         };

         
         {% if (client is defined) and client %}
         document.getElementById("declineClientButton1").onclick = async function () {
           let obj =  {
               'client_id': '{{ client.client_id }}'
           }
           const response = await fetch("/api/admin/v1/decline-client/", {
             method: 'POST',
             body: DEBUG ? JSON.stringify(obj) : formDataFromObject(obj)
           });
           resp = await response.json();
           if (resp.success === true) {
             location.reload(); 
           } else {
             errors = resp.errors.map((element) => element.message).join('<br>')
             document.getElementById("declineClientMessages1").innerHTML = errors;
           }
         };
         
         document.getElementById("callMissedClientButton1").onclick = async function () {
           let obj =  {
               'client_id': '{{ client.client_id }}'
           }
           const response = await fetch("/api/admin/v1/call-missed-client/", {
             method: 'POST',
             body: DEBUG ? JSON.stringify(obj) : formDataFromObject(obj)
           });
           resp = await response.json()
           if (resp.success === true) {
             location.reload(); 
           } else {
             errors = resp.errors.map((element) => element.message).join('<br>')
             document.getElementById("callMissedClientMessages1").innerHTML = errors
           }
         };

         document.getElementById("callLaterClientButton1").onclick = async function () {
           call_later_datetime = document.getElementById("call-later-datetime").value
           if (call_later_datetime === '') {
              alert('Не заполнена дата следующего звонка')
              return
           }
           call_later_datetime_iso = new Date(call_later_datetime).toISOString()

           let obj =  {
               'client_id': '{{ client.client_id }}',
               'call_later_datetime': call_later_datetime_iso
           }
           const response = await fetch("/api/admin/v1/call-later-client/", {
             method: 'POST',
             body: DEBUG ? JSON.stringify(obj) : formDataFromObject(obj)
           });
           resp = await response.json()
           if (resp.success === true) {
             location.reload(); 
           } else {
             errors = resp.errors.map((element) => element.message).join('<br>')
             document.getElementById("callLaterClientMessages1").innerHTML = errors
           }
         };
         
         {% endif %}
      </script>
      </body>
</html>