{% extends "base.jinja2" %}
{% block head %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd.mm.yyyy',
            });

            $("input[name='url']").val('/admin/calls-history/');
        });
    </script>
    <style>
        .table-striped > tbody > tr:nth-child(odd) > td,
        .table-striped > tbody > tr:nth-child(odd) > th,
        .table-hover > tbody > tr:hover > td,
        .table-hover > tbody > tr:hover > th {
            background-color: transparent;
        }
    </style>
{% endblock %}
{% block title %}Оператор {{ current_operator.full_name }} ({{ current_operator.operator_id }}){% endblock %}
{% block page_header %}История звонков{% endblock %}
{% block content %}
    <div class="col-sm-5">
        <form class="form-horizontal" method="GET" autocomplete="off" action="">
            <div class="form-group">
                <label class="col-sm-4 col-form-label">Даты</label>
                <div class="col-sm-4">
                    <input name="time_from"
                           value="{% if filter_data.time_from  %}{{ filter_data.time_from.strftime('%d.%m.%Y') }}{% endif %}"
                           type="text" class="form-control input-sm datepicker" id="dateFrom">
                </div>
                <div class="col-sm-4">
                    <input name="time_to"
                           value="{% if filter_data.time_to  %}{{ filter_data.time_to.strftime('%d.%m.%Y') }}{% endif %}"
                           type="text" class="form-control input-sm datepicker" id="dateTo">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-form-label">Длительность</label>
                <div class="col-sm-4">
                    <input name="duration_min"
                           value="{{ filter_data.duration_min }}"
                           type="number" class="form-control input-sm" id="durationMin">
                </div>
                <div class="col-sm-4">
                    <input name="duration_max"
                           value="{{ filter_data.duration_max }}"
                           type="number" class="form-control input-sm" id="durationMax">
                </div>
            </div>
            {% if current_operator.is_teamlead or debug %}
            <div class="form-group">
                <label for="operatorId" class="col-sm-4 col-form-label">Оператор</label>
                <div class="col-sm-8">
                    <select name="operator_id" class="form-control input-sm" id="operatorId">
                        {% for operator in operators %}
                            <option value="{{ operator.operator_id }}"
                                    {% if operator.operator_id|int == selected_operator_id %}selected{% endif %}>
                                {{ operator.full_name }}({{ operator.operator_id }})
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            {% if not debug %}
                <input type="hidden" name="mcs" value="external-offers">
                <input type="hidden" name="url" value="">
            {% endif %}
            <button type="submit" class="btn btn-primary button">Искать</button>
        </form>
    </div>
    <div class="col-sm-7 text-right">
        <button type="submit" class="btn btn-default">
            Скачать XLS
        </button>
    </div>
    <div class="col-sm-12">
        <br><br>
        {% if calls %}
            <nav aria-label="Search results pages">
                <ul class="pagination">
                    {% if previous_page_link %}
                        <li class="page-item"><a class="page-link" href="{{ previous_page_link }}">Предыдущая</a></li>
                    {% endif %}
                    {% if next_page_link %}
                        <li class="page-item"><a class="page-link" href="{{ next_page_link }}">Следующая</a></li>
                    {% endif %}
                </ul>
            </nav>
            <table class="table table-striped text-center">
                <tr>
                    <th class="text-center">Время</th>
                    <th class="text-center">С какого телефона</th>
                    <th class="text-center">На какой телефон</th>
                    <th class="text-center">Продолжительность разговора</th>
                    <th class="text-center">Разговор</th>
                </tr>
                {% for call in calls %}
                    <tr>
                        <td>{{ call.created_time.strftime('%d.%m.%Y %H:%M') }}</td>
                        <td>{{ call.phone_from }}</td>
                        <td>{{ call.phone_to }}</td>
                        <td>{{ call.duration }}</td>
                        <td>
                            <audio
                                    controls
                                    src="{{ call.mp3_url }}">
                                Your browser does not support the
                                <code>audio</code> element.
                            </audio>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Звонки не найдены</p>
        {% endif %}
    </div>
{% endblock %}
