{% extends "base.jinja2" %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd.mm.yyyy',
            });
        });
    </script>
    <style>
    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th,
    .table-hover>tbody>tr:hover>td,
    .table-hover>tbody>tr:hover>th {
        background-color: transparent;
    }
    </style>
{% endblock %}
{% block title %}Оператор {{ current_operator.full_name }} ({{ current_operator.operator_id }}){% endblock %}
{% block page_header %}История звонков{% endblock %}
{% block content %}
    <div class="col-sm-5">
    <form class="form-horizontal" method="GET" autocomplete="off">
      <div class="form-group">
        <label class="col-sm-4 col-form-label">Даты</label>
        <div class="col-sm-4">
          <input name="dateFrom" type="text" class="form-control form-control-sm datepicker" id="dateFrom">
        </div>
        <div class="col-sm-4">
          <input name="dateTo"  type="text" class="form-control form-control-sm datepicker" id="dateTo">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 col-form-label">Длительность</label>
        <div class="col-sm-4">
          <input name="timeFrom" type="number" class="form-control form-control-sm" id="timeFrom">
        </div>
        <div class="col-sm-4">
          <input name="timeTo" type="number" class="form-control form-control-sm" id="timeTo">
        </div>
      </div>
{#      {% if current_operator.is_teamlead %}#}
          <div class="form-group">
                <label for="operatorId" class="col-sm-4 col-form-label">Оператор</label>
                <div class="col-sm-8">
                    <select name="operatorId"  class="form-control" id="operatorId">
                        {% for operator in operators %}
                            <option value="{{ operator.operator_id }}"
                                    {% if operator.operator_id == selected_operator_id %}selected{% endif %}>
                                {{ operator.full_name }}({{ operator.operator_id }})
                            </option>
                        {% endfor %}
                    </select>
                </div>
                </div>
{#       {% endif %}#}
         <button type="submit" class="btn btn-primary">Искать</button>
    </form>
    </div>

    <div class="col-sm-12">
    <br><br>
    {% if calls %}
        <table class="table table-striped">
            <tr>
                <th>С какого телефона</th>
                <th>На какой телефон</th>
                <th>Длительность разговора</th>
                <th>Разговор</th>
            </tr>
            {% for call in calls %}
                <tr>
                    <td>{{ call.phone_from }}</td>
                    <td>{{ call.phone_to }}</td>
                    <td>{{ call.duration }}</td>
                    <td>
                        <audio
                                controls
                                src="{{ call.mp3_url }}">
                            Your browser does not support the
                            <code>audio</code> element.
                        </audio>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Звонки не найдены</p>
    {% endif %}
    {{ get_arguments }}
    </div>
{% endblock %}
