<html>
<head>
<style>
    .table-block {
    margin: 1em;
    display: block;
    }
    .table-block-title {
    font-weight: bold;
    padding: 0;
    }
    .tablerow.tablerow-header {
    border-top: 2px solid #000000;
    }
    .column.columnheader {
    font-weight: bold;
    }
    .column.column-link {
    cursor: pointer;
    color: #337AB7;
    font-weight: bold;
    }
    .column.column-link:hover {
    text-decoration: underline;
    color: #22527C;
    }
    .client-info-profile-url:hover {
    text-decoration: none;
    text-shadow: 0.5px 0.5px 0.5px #555;
    }
    .tablerow {
    border-top: 0;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 0.30fr 0.25fr 0.25fr 0.25fr;
    border-radius: 2px;
    padding: 1em;
    }

</style>
<title>Команды и операторы</title>
<meta charset="utf-8">
</head>
<body>
<div class="container">
    <hr>
    <div class="block">
        <button onclick="onClickRedirectToOffersList(this)">
            Вернуться к заданиям
        </button>
        <button onclick="onClickRedirectToOperatorCard('{{current_operator.operator_id}}')">
            Перейти в свой профиль
        </button>
        {% if current_operator.team_id %}
        <button onclick="onClickRedirectToTeamCard('{{current_operator.team_id}}')">
            Перейти в свою команду
        </button>
        <br>
        {% endif %}
    </div>
    <hr>
    {# Команды #}
    {% if teams %}
    <div class="table-block">
        <div class="table-block-title">
            Команды
        </div>
        <div class="grid">
            <div class="tablerow tablerow-header">
                <div class="column columnheader">ID</div>
                <div class="column columnheader">Название</div>
                <div class="column columnheader">Сегмент</div>
                <div class="column columnheader">ID лида</div>
            </div>
            {% for team in teams %}
            <div class="tablerow">
                <div class="column">
                    {{team.team_id}}
                </div>
                <div class="column column-link" onclick="onClickRedirectToTeamCard('{{team.team_id}}')">
                    {{team.team_name}}
                </div>
                <div class="column">
                    {% if team.segment %}{{team.segment.value}}{% else %}-{% endif %}
                </div>
                <div class="column column-link" onclick="onClickRedirectToOperatorCard('{{team.lead_id}}')">
                    {% if team.lead_id %}{{team.lead_id}}{% else %}-{% endif %}
                </div>
                <div class=column>
                    <button style="display:inline" onclick="deleteTeam('{{team.team_id}}')">
                        Удалить
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="block">
        <input id="teamName" type='text' name='name' placeholder='введите название команды'/>
        <br>
        <br>
        <button onclick="createTeam()">Cоздать команду</button>
    </div>
    <hr>
    {# !Команды #}
    {# Операторы #}
    {% if operators %}
    <div class="table-block">
        <div class="table-block-title">
            Операторы
        </div>
        <div class="grid">
            <div class="tablerow tablerow-header">
                <div class="column columnheader">ID</div>
                <div class="column columnheader">Имя</div>
                <div class="column columnheader">Email</div>
                <div class="column columnheader">Роль</div>
                <div class="column columnheader">Команда</div>
            </div>
            {% for operator in operators %}
            <div class="tablerow">
                <div class="column column-link" onclick="onClickRedirectToOperatorCard('{{operator.operator_id}}')">
                    {{ operator.operator_id }}
                </div>
                <div class="column" id="operator_{{operator.operator_id}}_name">
                    {% if operator.full_name %}{{operator.full_name}}{% else%}-{% endif %}
                </div>
                <div class="column" id="operator_{{operator.operator_id}}_email">
                    {% if operator.email %}{{operator.email}}{% else%}-{% endif %}
                </div>          
                {# {% if operator.team_id %}
                <div class="column column-link" onclick="onClickRedirectToTeamCard('{{operator.team_id}}')">
                    {{ operator.team_name }}({{ operator.team_id }})
                </div>
                {% else %}
                <div class="column">
                -
                </div>
                {% endif %} #}
                <div class="column">
                {% if operator.is_teamlead %}
                Тимлид
                {% else %}
                Оператор
                {% endif %}
                </div>
                <div class="column">
                    <select id="operatorTeam" style="width: 80px;" onchange="updateOperator(this)" data-operator_id="{{operator.operator_id}}">
                        <option 
                            value
                            {% if not operator.team_id %} selected {% endif %}
                        >
                            -
                        </option>
                        {% for team in teams %}
                        <option 
                            value="{{team.team_id}}"
                            {% if operator.team_id == team.team_id %} selected {% endif %}
                        >
                            {{team.team_name}} ({{team.team_id}})
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class=column>
                    <button style="display:inline" onclick="deleteOperator('{{operator.operator_id}}')">
                        Удалить
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {# <div class="block">
        <input id="operatorId" type='text' name='id' placeholder='введите ID оператора'/>
        <br>
        <br>
        <input id="operatorName" type='text' name='name' placeholder='введите имя оператора'/>
        <br>
        <br>
        <input id="operatorEmail" type='text' name='email' placeholder='введите email оператора'/>
        <br>
        <br>        
        <button onclick="createOperator()">Создать оператора</button>
    </div> #}
    <hr>
    {# !Операторы #}
</div>
</body>
<script>
    let DEBUG = 'True' === '{{debug}}';
    // fix for service.cian.ru
    window.onpopstate = function(event) {
        location.reload();
    };
    function formDataFromObject(obj) {
        var form_data = new URLSearchParams();
        for ( var key in obj ) {
            form_data.append(key, obj[key]);
        }
        return form_data
    }
    function getBody(obj){
        return DEBUG ? JSON.stringify(obj) : formDataFromObject(obj)
    }
    function redirect(url){
        if (DEBUG) {
            window.location.href = url;
        } else {
            // workaround to redirect when on service.cian.ru
            queryParams = new URLSearchParams(window.location.search)
            queryParams.set("url", url);
            history.pushState(null, null, "?"+queryParams.toString());
            location.reload()
        }
    }
    function onClickRedirectToOffersList(){
        redirect(`/admin/offers-list/`)
    }
    function onClickRedirectToOperatorCard(operator_id){
        redirect(`/admin/operator-card/${operator_id}/`)
    }
    function onClickRedirectToTeamCard(team_id){
        redirect(`/admin/team-card/${team_id}/`)
    }
    // crud
    async function deleteTeam(id){
        let obj = {
            "teamId": id,
        }
        const response = await fetch("/api/admin/v1/delete-team-public/", {
            method: 'POST',
            body: getBody(obj)
        });
        resp = await response.json();
        if (resp.success === true) {
            alert(resp.message)
            location.reload()
        } else if (resp.success === false){
            alert(resp.message)
        }else {
            alert('Не удалось удалить команду.')
        }
    }
    async function deleteOperator(id){
        let obj = {
            "operatorId": id,
        }
        const response = await fetch("/api/admin/v1/delete-operator-public/", {
            method: 'POST',
            body: getBody(obj)
        });
        resp = await response.json();
        if (resp.success === true) {
            alert(resp.message)
            location.reload()
        } else if (resp.success === false){
            alert(resp.message)
        } else {
            alert('Не удалось удалить оператора.')
        }
    }
    async function updateOperator(event){
        let elem = event
        let teamId = elem.value 
        let operatorId = elem.dataset.operator_id
        let email = document.getElementById(`operator_${operatorId}_email`)
        email = email.innerText;
        let name = document.getElementById(`operator_${operatorId}_name`)
        name = name.innerText;
        if(teamId == ""){
            teamId = null;
        }
        obj = {
            'operatorId': operatorId,
            "fullName": name,
            'teamId': teamId,
            'email': email,
        }
        const response = await fetch("/api/admin/v1/update-operator-public/", {
            method: 'POST',
            body: getBody(obj)
        });
        resp = await response.json();
        if (resp.success === true) {
            alert(resp.message)
        } else if (resp.success === false) {
            alert(resp.message)
        }else {
            alert('Не удалось обновить команду оператора.')
        }
    }
    async function createOperator(){
        let name = document.getElementById('operatorName').value
        let email = document.getElementById('operatorEmail').value
        let operatorId = document.getElementById('operatorId').value
        if(!name){
            alert('Введите имя оператора!')
            return
        }
        if(!operatorId){
            alert('Введите ID оператора!')
            return
        }
        let obj = {
            "fullName": name,
            "operatorId": operatorId,
            "email": email,
        }
        const response = await fetch("/api/admin/v1/create-operator-public/", {
            method: 'POST',
            body: getBody(obj)
        });
        resp = await response.json();
        if (resp.success === true) {
            alert(resp.message)
            location.reload()
        } else if (resp.success === false) {
            alert(resp.message)
        }else {
            alert('Не удалось создать оператора.')
        }
    }
    async function createTeam(){
        let name = document.getElementById('teamName').value;
        let leadId = '{{current_operator.operator_id}}';
        if(!name){
            alert('Введите название команды!')
            return
        }
        let obj = {
            "teamName": name,
            "leadId": leadId,
            "segment": null,
        }
        const response = await fetch("/api/admin/v1/create-team-public/", {
            method: 'POST',
            body: getBody(obj)
        });
        resp = await response.json();
        if (resp.success === true) {
            alert(resp.message)
            location.reload()
        } else if (resp.success === false) {
            alert(resp.message)
        } else {
            alert('Не удалось создать команду.')
        }
    }
</script>
</html>
